.icon{
    border-radius: 20px;;
}

.icon:hover{
    border-radius:5px;
}
.menu-title{
  color: rgb(11, 130, 248);
}
.menu-title:hover{
    color: cyan;
  }
  
  #intro-example {
    height: 400px;
  }
  
  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }
  
  #ban:hover{
    /* color: rgb(0, 255, 21); */
    color: cyan
  }
  #univ:hover{
    /* color: rgb(0, 255, 21); */
    color:red;
  }
/*   
  body{
    background-color:black;
  }
   */
  
  th,
  td {
    padding: 5px;
  }
  
  #fname:hover{
    color: Red;
  }

  #lname:hover{
  
    color:blue;
}

/* ----------------------------- */

.parallax {
  /* The image used */
  /* background-image: url("https://images.wallpaperscraft.com/image/single/sea_beach_palm_trees_154309_1280x720.jpg"); */
  background-image: url("https://mdbcdn.b-cdn.net/img/new/slides/041.webp");

  /* Set a specific height */
  min-height: 200px; 
 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.funny{
  position:relative;
  bottom:3em;
}